[submodule "robonaut2020-circuit"]
	path = robonaut2020-circuit
	url = git@github.com:somaveszelovszki/robonaut2020-circuit.git
[submodule "line-detector-stm32"]
	path = line-detector-stm32
	url = git@github.com:somaveszelovszki/line-detector-stm32.git
[submodule "micro-utils"]
	path = micro-utils
	url = git@github.com:somaveszelovszki/micro-utils.git
[submodule "car-stm32"]
	path = car-stm32
	url = git@github.com:somaveszelovszki/car-stm32.git
[submodule "babocar-monitor"]
	path = babocar-monitor
	url = git@github.com:somaveszelovszki/babocar-monitor.git
[submodule "motor-controller"]
	path = motor-controller
	url = git@github.com:somaveszelovszki/motor-controller.git
