[submodule "robonaut2020-circuit"]
	path = robonaut2020-circuit
	url = git@github.com:somaveszelovszki/robonaut2020-circuit.git
[submodule "line-detector-stm32"]
	path = line-detector-stm32
	url = git@github.com:somaveszelovszki/line-detector-stm32.git
[submodule "car"]
	path = car
	url = git@github.com:somaveszelovszki/robonaut2020-car.git
